<ion-view title="!@#" hide-nav-bar="true" ng-init="receiptIn()">

    <ion-content class="recipt_screen padding has-header" style="background:#f5f5f5;" scroll="true" has-header="true">
        <div class="reciept_cont" style="background:#f5f5f5;">
            <div class="padding">
                <div class="list padding" style="background:#fff; border:1px solid #ccc;  margin:auto; padding:20px 10px;">
                    <div class="list job_detail padding text-center">
                        <button class="button button-balanced" ng-click="customerGo()" style="margin-top:10px;">Customer</button>
                        <button class="button button-balanced" ng-click="providerGo()" style="margin-top:10px;"> PROVIDER</button> </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>