
<ion-view title="My Jobs" hide-nav-bar="true">
<div class="bar bar-header bar-stable">
 <a class="button icon-left" ng-click="go_profile()"><i class="fa fa-user" aria-hidden="true"></i>
</a>

  <h1 class="title">My Jobs</h1>
  <a class="button icon-right" ng-click="go_message()"><i class="fa fa-envelope-o" aria-hidden="true"></i>

</a>
</div>

  <ion-content class="job_detail_screen  has-header" style="background:#f5f5f5;" scroll="true" >
     <p class="job_confirm padding" style="background:#fe602e;"><span style="margin-right:10px;"><i class="fa fa-bullhorn" aria-hidden="true"></i>
    </span>Upcoming Jobs</p>

       <div class="home_list item-text-wrap padding job_cond" ng-click="job_detail_hird()">
          <p class="job_type">Fixed</p>
          <h2>Need a Pet Trainer</h2>
          <div class="button-bar">
             <p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
          </div>
           <p  class="detail_job"> Train animals for riding, harness, security, performance, or obedience, or assisting 
            persons with disabilities.</p>
           <!--  <div class="wait_icn"><img src="img/process.png"></div> -->
        </div>
       
       <p class="job_confirm padding"><span style="margin-right:10px;"><i class="fa fa-hourglass-start" aria-hidden="true"></i>
</span> Waiting for Client Response </p>
       <div class=" home_list item-text-wrap padding" ng-click="job_detail_applied()">
          <p class="job_type">Fixed</p>
          <h2>Need a Pet Trainer</h2>
          <div class="button-bar">
             <p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
          </div>
           <p  class="detail_job"> Train animals for riding, harness, security, performance, or obedience, or assisting 
            persons with disabilities.</p>
        </div>
         <div class=" home_list item-text-wrap padding job_cond">
          <p class="job_type">Fixed</p>
          <h2>Need a Pet Trainer</h2>
          <div class="button-bar">
             <p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
          </div>
           <p  class="detail_job"> Train animals for riding, harness, security, performance, or obedience, or assisting 
            persons with disabilities.</p>
        </div>
         <div class=" home_list item-text-wrap padding job_cond">
          <p class="job_type">Fixed</p>
          <h2>Need a Pet Trainer</h2>
          <div class="button-bar">
             <p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
          </div>
           <p  class="detail_job"> Train animals for riding, harness, security, performance, or obedience, or assisting 
            persons with disabilities.</p>

        </div>
      
  </ion-content>
</ion-view>














