<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>703636388-mcvens20hrpsg3ds61d6o51rsksl8ega.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703636388-mcvens20hrpsg3ds61d6o51rsksl8ega</string>
	<key>API_KEY</key>
	<string>AIzaSyAaLGuk0F8Y5GWQJ5dAyJEtDE2OHWbeufM</string>
	<key>GCM_SENDER_ID</key>
	<string>703636388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halpHero.app</string>
	<key>PROJECT_ID</key>
	<string>customer-a1fee</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-a1fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:703636388:ios:126fda7ee0f2a2a8</string>
	<key>DATABASE_URL</key>
	<string>https://customer-a1fee.firebaseio.com</string>
</dict>
</plist>