
<ion-view title="Home" hide-nav-bar="true">
<div class="bar bar-header bar-stable">
	<a class="button icon-left" ng-click="go_profile()"><i class="fa fa-user" aria-hidden="true"></i>
</a>

  <h1 class="title">Home</h1>
  <a class="button icon-right" ng-click="go_message()"><i class="fa fa-envelope-o" aria-hidden="true"></i>

</a>
</div>
  <ion-content class="home_screen padding" style="background:#f5f5f5;" scroll="true" has-header="false">
  <div class="home_list" style="padding-top:55px;">
	<ul class="list">
    <li class="item item-icon-right" ng-click="go_detail_customer()">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p class="detail_job"> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		<p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>


    </li>
     <li class="item item-icon-right">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		<p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>
    </li>
      <li class="item item-icon-right">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		<p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>
    </li>
   <li class="item item-icon-right">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		<p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>
    </li>
     <li class="item item-icon-right">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		<p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>
		</li>
    <li class="item item-icon-right">
    	 <div class="item-text-wrap">
     	<h2>Need a Pet Trainer</h2>
     	 <div class="button-bar">
			<p class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>9 Dec 2016</p>
			<p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>2:00 pm</p>
		  </div>
		 <p> Train animals for riding, harness, security, performance, or obedience, or assisting 
		  persons with disabilities.</p>
		  		</div>
		  		 <p class="applicant_quant">2<br><span style="color:#2d2e2e;">Applicants</span></p>
    </li>
</ul>
</div>
  </ion-content>
</ion-view>
