
<ion-view title="Job Detail" hide-nav-bar="true">
  <div class="bar bar-header bar-stable">
  <a class="button icon-left" ng-click="myGoBack()"><i class="ion-android-arrow-back" aria-hidden="true"></i>
</a>

  <h1 class="title">Job Detail</h1>
  
</div>
  <ion-content class="job_detail_screen  has-header" style="background:#f5f5f5;" scroll="true" has-header="false">
  <div class="job_detail">
  	<div class="list padding">
  		<h1 class="text-center" style="padding:20px 0;">Need a Pet Trainer</h1>
  		<p class="job_type">Fixed</p>
  		<p class="price">Price:<span style="color:#8ebf29;">$2,98</span></p>
  		<p class="date_cont"><i class="fa fa-calendar" aria-hidden="true"></i>
24 Oct 2016</p>
  		<p class="date_cont location"><i class="fa fa-map-marker" aria-hidden="true"></i>
Dublin, Ireland</p>
  	</div>
  	<div class="list job_description padding">
  		<h2>Description</h2>
  		<p>Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown
printer took a galley of type and scrambled it to make a type
specimen book.</p>
  	</div>	
      <div class="padding client_cont">
      <h2 class="title_client">Client</h2>
       <a class="item item-avatar item-icon-right" href="#">
         <img src="img/client.png">
         <h2>Jerry Wlash</h2>
         <div class="icon msg_icn"><i class=" fa fa-comment-o" aria-hidden="true" style="margin-right:5px;"></i>Message</div>

      </a>

    </div>  
    <div class="list  padding text-center">


     <button class="button button-balanced">VIEW SERVICE RECEIPT</button>
      
   </div>
 	</div>
  </ion-content>
</ion-view>














