
<ion-view hide-nav-bar="true">
  <ion-content class="sigin_screen" scroll="" has-header="true">
	<div class="login">
		<div class="container">
			<div class="list">
			 
			  <label class="item item-input item-stacked-label">
			  
			    <input type="text" placeholder="Email">
			     <i class="fa fa-user-o" aria-hidden="true"></i>

			  </label>

			   <label class="item item-input item-stacked-label">
			   
			    <input type="Password" placeholder="Password">
			    <i class="fa fa-lock" aria-hidden="true"></i>

			  </label>

			  <button class="button button-balanced" ng-click="login()">LOGIN</button>
			  <p class="forget_pas text-center" style="margin-top:40px; color:#fff; font-size:18px;">Forgot Your Password?</p>

			  	
			  </div>
			  <div class="footer  text-center">
			  <p style="width:100%; color:#fff; position:relative; font-size:16px;" class="sign_opt">Or Sign in with</p>
			  <div class="button-bar" style="justify-content: center;">
			  		
			  		<a class="facbook_link"><img src="img/fb.png"></a>
			  		<a class="facbook_link"><img src="img/tw.png"></a>
			  </div>
			  <p style="color:#fff; font-size:17px;" ng-click="signup()">Don't Have an Account ?<br>
Click to <span style="color:#8ebf29; font-size:16px;">Sign up</span> here</p>
			</div>
			</div>
		</div>	
	</div>		
  </ion-content>
</ion-view>
