
<ion-view title="Create Profile">
  <ion-content class="createprofile_screen" style="background:#f5f5f5;" scroll="true" has-header="false">
	<div class="login create_profile" style="background:#f5f5f5;">
		<div class="padding"  >
			<div class="list padding" style="background:#fff; border:1px solid #ccc;  margin:auto; ">
				
			    
				<div class="row">
					<div class="col">
			   <label class="item item-input item-stacked-label">
			    
			    <input type="text" placeholder="Job Name">
			     <i class="fa fa-user-o" aria-hidden="true"></i>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <input type="text" placeholder="Job Description">
			     <i class="fa fa-envelope" aria-hidden="true"></i>
			  </label>
			</div>
			<div class="col">
			  <label class="item item-input item-stacked-label" style="border-bottom:none;">
			   <p class="upload_pic">Upload Document</p>
			     <i class="fa fa-envelope" aria-hidden="true"></i>
			     <a href="\#" class="upld">Upload</a>
			  </label>
			 </div>
			  </div>
			</div>
			</div>
		</div>	
	</div>		
  </ion-content>
</ion-view>
