
<ion-view title="Profile">
  <ion-content class="rating_screen" style="background:#f5f5f5;" scroll="true" has-header="false">
	<div class="profile rating_page" style="background:#f5f5f5;">
		<div class="padding"  >
			<div class="list padding" style="margin:auto; ">
				
			 	<div class="list" style="background:#fff; border:1px solid #ccc;">
			 			<div class="user_image text-center" style="margin-top:20px;">
						<img src="img/client.png" style="border-radius:50%;">

				</div>	
				<div class="rating text-center list">
					<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
			   <div class="list padding">
			   	<textarea placeholder="Comments"></textarea>
			 </div>
			  	
			  </div>
			
			</div>
		</div>	
	</div>		
  </ion-content>
    <ion-footer-bar class="rating_footer">
			 <div class="list job_detail padding text-center">
    			 <button class="button button-balanced">SUBMIT</button>
      
 			</div>
</ion-footer-bar>
</ion-view>
