
<ion-view hide-nav-bar="true">
  <ion-content class="sigup_screen" scroll="false" has-header="false">
	<div class="login">
		<div class="container">
			<div class="list" style="padding-top:20px; backgrond:#fff;" >
			 
			  <label class="item item-input item-stacked-label">
			   
			    <input type="text" placeholder="First Name">
			     <i class="fa fa-user-o" aria-hidden="true"></i>
			  </label>

			   <label class="item item-input item-stacked-label">
			    
			    <input type="text" placeholder="Last Name">
			     <i class="fa fa-user-o" aria-hidden="true"></i>
			  </label>

			  <label class="item item-input item-stacked-label">
			    
			    <input type="text" placeholder="Email Address">
			     <i class="fa fa-envelope" aria-hidden="true"></i>

			  </label>

			     <label class="item item-input item-stacked-label">
			   
			    <input type="text" placeholder="Mobile Number">
			   <i class="fa fa-mobile" aria-hidden="true"></i>

			  </label>

			     <label class="item item-input item-stacked-label">
			   
			    <input type="Password" placeholder="Password">
			    <i class="fa fa-lock" aria-hidden="true"></i>
			  </label>
			  <label class="item item-input item-stacked-label">
			   
			    <input type="Password" placeholder="Confirm Password">
			    <i class="fa fa-lock" aria-hidden="true"></i>
			  </label>
			   <ion-checkbox>I accept the Terms of Service and Privacy Policy</ion-checkbox>
			  <button class="button button-balanced" style="margin-top:10px;" ng-click="create_profile()">Sign up</button>
			 
			  	
			  </div>
			  <div class="footer  text-center">
			 
			
			  <p style="color:#fff; font-size:17px;">Already Registered ?
<br>
Click to <span style="color:#8ebf29; font-size:16px;">Login</span> here</p>
			</div>
			</div>
		</div>	
	</div>		
  </ion-content>
</ion-view>
